
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #51594d;
    color: whitesmoke;

}

main {
    max-width: 1200px;
    margin: auto;
}

ul {
    list-style: none;
}

button {
    background: transparent;
    border: none;
}

input[type=text] {
    background: transparent;
    padding: 2px 10px;
    border: none;
    border-radius: 0px;
}
