
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

main {
    max-width: 1200px;
    margin: auto;
}

ul {
    list-style: none;
}